<div class="row py-5 gy-3">
   <input [(ngModel)]="term" type="text" placeholder="search by name ..." class="form-control text-white bg-transparent">
    <div class="col-md-4">
        <div class="welcome">
            <div class="brdr w-25 mb-3"></div>
            <h3>Trending</h3>
            <h3>Movies</h3>
            <h3>to watch now</h3>
            <span class="text-muted">Most watched movies by days</span>
            <div class="brdr w-100 mt-3"></div>
        </div>
    </div>
<div class="col-md-2" *ngFor="let movie of movieList|search:term">
    <a class="nav-link" [routerLink]="['/details',movie.id,movie.media_type]">
    <div class="item position-relative">
        <img class="w-100" [src]="imgBaseUrl+movie.poster_path">
        <h2 class="h5">{{movie.title|watch}}</h2>
        <p class="text-muted">{{movie.overview|seemore:20}}</p>
        <span class="position-absolute top-0 end-0 p-2 bg-info ">{{movie.vote_average.toFixed(1)}}</span>
    </div>
</a>
</div>
</div>
